<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-1" parallel="tests">
  <test name="Chrometest">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.test.proposify.TestCases_250PlanUpgradeand25monthlydowngrade"/>
    </classes>
  </test> <!-- Test -->

    <test name="safaritest">
  <parameter name="browser" value="safari"/>
    <classes>
      <class name="com.test.proposify.TestCases_250PlanUpgradeand25monthlydowngrade"/>
      <class name="com.test.proposify.AfterSuiteExec"/>

    </classes>
    </test>
</suite> <!-- Suite -->
